{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    <h1>Reclamation index</h1>
    <form method="POST">
        <input type="text" name="search">
        <input type="submit" value="search">
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Answer</th>
            <th>IdUser</th>
            <th>Date</th>
            <th>Archive</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.title }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.answer }}</td>
                <td>{{ reclamation.idUser }}</td>
                <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.archive }}</td>
                <td>


                    <a href="{{ path('reclamation_answer', {'id': reclamation.id}) }}"class="btn btn-outline-success">Answer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
